<section>
  <h2>Sobre mi</h2>
  <p class='feature'>
    Soy una persona que busca soluciones para tener un buen ambiente laboral,
    intentando buscar una salida al problema cuando existen momentos de tension
    en ambitos de trabajo con mucha tension. Tengo mucha paciencia y puedo
    escuchar los problemas de las personas para más tarde poder analizarlas. Sin
    duda puedo hacer mucho por ti.
  </p>
</section>
