<!-- 
  Eliminar section y colocarlo en index.astro, puesto que ahí es necesaria la section. Por el contrario, en about.astro no es necesaria la section, ya que no hay más contenido que el que se muestra en este componente.
-->
<section>
  <h2>Sobre mi</h2>
  <p class='p_about'>
    Soy una persona que busca soluciones para tener un buen ambiente laboral,
    intentando buscar una salida al problema cuando existen momentos de tension
    en ambitos de trabajo con mucha tension. Tengo mucha paciencia y puedo
    escuchar los problemas de las personas para más tarde poder analizarlas. Sin
    duda puedo hacer mucho por ti.
  </p>
</section>
