---
import features from '../../config/features.json'
---

<section>
  <h2>Habilidades</h2>

  <ol class='article_features'>
    {
      features.map(feature => (
        <li class='li_features'>
          <h3>{feature.title}</h3>
          <p>{feature.description}</p>
        </li>
      ))
    }
  </ol>
</section>
