---
import Header from '../Header.astro'
---

<header
  class='bg-zinc-500 flex flex-col md:flex-row p-20 text-center md:text-left rounded-xl mb-10'
>
  <div>
    <h1 class='text-slate-800 text-5xl font-bold'>Protege tu salud mental</h1>
    <p class='p-5 text-zinc-300'>
      En muchas casos terminamos nuestra jornada laboral y cuando llegamos a
      casa no disfrutamos de lo mejor que tenemos en nuestra vida, que es
      nuestra familia. Que mejor momento que jugar con tus hijos, hacer deporte,
      pasear, hablar con tus amigos. Muchas personas no disfrutan de todas estas
      actividades porque no tienen esa facultad de desconexion del trabajo en el
      que están. Estas personas a medio o largo plazo pueden tener problemas de
      salud. Si de verdad quieres que te ayude no dudes en contactar conmigo.
    </p>
    <a href='/contact' target='_blank'>
      <button class='text-cyan-950 bg-indigo-500 px-3 py-2 hover:bg-indigo-400'>
        Empezamos</button
      >
    </a>
  </div>
  <img src='images/family.svg' alt='Foto de familia' class='w-80 pt-10' />
</header>
