<section>
  <h2>Protege tu salud mental</h2>
  <article class='article_intro'>
    <ul class='ul_intro'>
      <p class='p_intro'>
        En muchas casos terminamos nuestra jornada laboral y cuando llegamos a
        casa no disfrutamos de lo mejor que tenemos en nuestra vida, que es
        nuestra familia. Que mejor momento que jugar con tus hijos, hacer
        deporte, pasear, hablar con tus amigos. Muchas personas no disfrutan de
        todas estas actividades porque no tienen esa facultad de desconexion del
        trabajo en el que están. Estas personas a medio o largo plazo pueden
        tener problemas de salud. Si de verdad quieres que te ayude no dudes en
        contactar conmigo.
      </p>
      <a class='btn_body' href='/contact'> Empezamos</a>
    </ul>
    <img src='images/family.svg' alt='Foto de familia' class='img_intro' />
  </article>
</section>
