---
// Comprueba la diferencia entre esta importación y otras como en Features.astro. Es bastante más sencilla y no requiere una interfaz. Revisa el archivo JSON contra los demás para ver cómo se estructura y utilizar la importación que más te convenga en cada caso.
import { projects } from '../../config/projects.json'
---

<section>
  <h2>Proyectos realizados</h2>
  {
    projects.map(project => (
      <article class='article_projects '>
        <h3>{project.title}</h3>
        <p>{project.description}</p>

        <a class='btn_body' href={project.url} target='_blank'>
          + info
        </a>

        <img src={project.image} class='img_projects' alt='' />
      </article>
    ))
  }
</section>
