---
// import * as universities from '../config/universities.json' <- Una importación de todos los elementos del archivo JSON elimina el error de importación por defecto. Para una importación más sencilla, mirar Projects.astro.
import universities from '../../config/universities.json'

// Una interfaz es una forma de definir un tipo de dato en Typescript.
/* 
  interface University {
    title: string
  }
*/
---

<section>
  <h2>Titulaciones certificadas</h2>

  <article class='article_titles'>
    <p>
      Aqui puedo demostrar mi desarrollo profesional en las universidades donde
      he podido desarrollar mis facultades intelectuales.
    </p>
    <!-- <article class='grid grid-cols-2 flex-1 gap-4'> -->
    <!-- <div>
        <img src='/images/goteborg.svg' class='w-20 m-auto' alt='' />
        <p class='text-center mt-4'>Universidad de Goteborg</p>
      </div>
      <div class='text-center'>
        <img src='/images/michigan.svg' class='w-20 m-auto' alt='' />
        <p class='mt-4'>Universidad de Michigan</p>
      </div>
      <div class='text-center'>
        <img src='/images/oxford.svg' class='w-20 m-auto' alt='' />
        <p class='mt-4'>Universidad de Oxford</p>
      </div>
      <div class='text-center'>
        <img src='/images/sydney.svg' class='w-20 m-auto' alt='' />
        <p class='mt-4'>Universidad de Sidney</p>
      </div> -->

    <ol class='ol_titles'>
      {
        universities.map(
          (
            university // (university: University) <- El tipo de dato del parámetro se debe definir, en este caso arriba como interfaz.
          ) => (
            <li class='li_titles'>
              <img
                src={`/images/${university.title.toLowerCase()}.svg`}
                class='img_titles'
                alt='{university}'
              />
              <p class='p_titles'>Universidad de {university.title}</p>
            </li>
          )
        )
      }
    </ol>
    <!-- </article> -->
  </article>
</section>
