---
import { universities } from '../../config/universities.json'
---

<h2>Titulaciones certificadas</h2>

<article class='article_titles'>
  <p>
    Aqui puedo demostrar mi desarrollo profesional en las universidades donde he
    podido desarrollar mis facultades intelectuales.
  </p>

  <ul class='ul_titles'>
    {
      universities.map(
        (
          university // (university: University) <- El tipo de dato del parámetro se debe definir, en este caso arriba como interfaz.
        ) => (
          <li class='li_titles'>
            <img
              src={`/images/${university.title.toLowerCase()}.svg`}
              class='img_titles'
              alt='{university}'
            />
            <p class='p_titles'>Universidad de {university.title}</p>
          </li>
        )
      )
    }
  </ul>
</article>
