---
import Layout from '../layouts/Layout.astro'
import Aboutus from '../components/landing/About.astro'
---

<Layout title='acerca del sitio'>
  <section class='bg-slate-800 p-5 rounded-xl my-4'>
    <h1 class='text-center text-3xl'>Sobre mi</h1>
  </section>
  <Aboutus />
</Layout>
