---
import Layout from '../layouts/Layout.astro'
---

<!-- <Layout title='Contact'>
  <section> <- No hace falta un section para cada componente si no va a haber partes diferenciadas entre sí en la misma página
    <h2>Contacto</h2>

    <form class='contact'>
      <label class='m-5'>
        Usuario:
        <input type='text' name='username' />
      </label>
      <label class='m-5'>
        Correo electrónico:
        <input type='email' name='email' />
      </label>
      <label class='m-5'>
        Contraseña:
        <input type='password' name='password' />
      </label>
      <button class='btnbody'>Enviar</button>
    </form>
  </section>
</Layout> -->
<Layout title='Contact'>
  <section>
    <h2>Contacto</h2>

    <form class='contact'>
      <label class='m-5'>
        Usuario:
        <input type='text' name='username' />
      </label>
      <label class='m-5'>
        Correo electrónico:
        <input type='email' name='email' />
      </label>
      <label class='m-5'>
        Contraseña:
        <input type='password' name='password' />
      </label>
      <button class='btnbody'>Enviar</button>
    </form>
  </section>
</Layout>
