---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Contact'>
  <section>
    <h2>Contacto</h2>

    <form class='form_contact'>
      <label class='label_contact'>
        Usuario:
        <input type='text' name='username' />
      </label>
      <label class='label_contact'>
        Correo electrónico:
        <input type='email' name='email' />
      </label>
      <label class='label_contact'>
        Contraseña:
        <input type='password' name='password' />
      </label>
      <button class='btn_body'>Enviar</button>
    </form>
  </section>
</Layout>
