---
import Layout from '../layouts/Layout.astro'
import TitlesPage from '../components/landing/Titles.astro'
---

<Layout title='acerca del sitio'>
  <section>
    <TitlesPage />
  </section>
</Layout>
