<footer>
  <div class='divfooter'>
    <article>
      <h4>Principal</h4>
      <a class='flexcol' href='/'>Inicio</a>
      <a class='flexcol' href='/about'>Sobre mi</a>
      <a class='flexcol' href='/contact'>Contacto</a>
    </article>
    <article>
      <h4>Apartados</h4>

      <a class='flexcol'>Meritos</a>
      <a class='flexcol'>Habilidades</a>
      <a class='flexcol'>Proyectos realizados</a>
    </article>
    <article>
      <h4>Redes Sociales</h4>
      <a
        class='flexcol'
        href='https://www.facebook.com/?locale=es_ES'
        target='_blank'
      >
        Facebook</a
      >
      <a class='flexcol' href='https://www.instagram.com/' target='_blank'
        >Instagram</a
      >
      <a
        class='flexcol'
        href='https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D'
        target='_blank'>Twitter</a
      >
      <a class='flexcol' href='https://www.tiktok.com/es/' target='_blank'
        >TikTok</a
      >
    </article>
  </div>
</footer>
