<!-- 
  <footer>
  <div class='divfooter'>
    <section> <- La etiqueta article va contenida dentro de la etiqueta section aunque no es obligatoria ponerla.
      <h4>Principal</h4>

      <ul> <- Cuando se crean listas de elemento, es correcto englobarlas en una etiqueta ol o ul con sus respectivos li.
        <li><a href='/'>Inicio</a></li>
        <li><a href='/about'>Sobre mi</a></li>
        <li><a href='/contact'>Contacto</a></li>
      </ul>
    </section>

    <section>
      <h4>Apartados</h4>

      <ul>
        <li><a href='/merits'>Meritos</a></li>
        <li><a href='/skills'>Habilidades</a></li>
        <li><a href='/projects'>Proyectos realizados</a></li>
      </ul>
    </section>

    <section>
      <h4>Redes Sociales</h4>

      <a
        class='flexcol'
        href='https://www.facebook.com/?locale=es_ES'
        target='_blank'
      >
        Facebook</a
      >
      <a class='flexcol' href='https://www.instagram.com/' target='_blank'
        >Instagram</a
      >
      <a
        class='flexcol'
        href='https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D'
        target='_blank'>Twitter</a
      >
      <a class='flexcol' href='https://www.tiktok.com/es/' target='_blank'
        >TikTok</a
      >
    </section>
  </div>
</footer>
-->
<footer>
  <div class='div_footer'>
    <ul class='ul_flexcol'>
      <h4>Principal</h4>
      <li><a href='/'>Inicio</a></li>
      <li><a href='/about'>Sobre mi</a></li>
      <li><a href='/contact'>Contacto</a></li>
    </ul>
    <ul class='ul_flexcol'>
      <h4>Apartados</h4>

      <a class='flexcol'>Meritos</a>
      <a class='flexcol'>Habilidades</a>
      <a class='flexcol'>Proyectos realizados</a>
    </ul>
    <article>
      <h4>Redes Sociales</h4>
      <ul>
        <li>
          <a href='https://www.facebook.com/?locale=es_ES' target='_blank'>
            Facebook</a
          >
        </li>
        <li>
          <a href='https://www.instagram.com/' target='_blank'>Instagram</a>
        </li>
        <li>
          <a
            href='https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D'
            target='_blank'>Twitter</a
          >
        </li>
        <li><a href='https://www.tiktok.com/es/' target='_blank'>TikTok</a></li>
      </ul>
    </article>
  </div>
</footer>
