<footer class='bg-slate-800 flex pt-10 mt-10 rounded-xl text-zinc-300'>
  <div
    class='container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-3'
  >
    <div>
      <h4 class='font-bold text-xl'>Principal</h4>
      <a class='flex flex-col' href='/'>Home</a>
      <a class='flex flex-col' href='/about'>Sobre mi</a>
      <a class='flex flex-col' href='/contact'>Contacto</a>
    </div>
    <div>
      <h4 class='font-bold text-xl'>Apartados</h4>
      <a class='font-mono hover:font-serif'> </a>
      <p>Meritos</p>
      <p>Habilidades</p>
      <p>Proyectos realizados</p>
    </div>
    <div>
      <h4 class='font-bold text-xl grid md:grid-cols-3 gap-4'>SocialLinks</h4>
      <a
        class='flex flex-col'
        href='https://www.facebook.com/?locale=es_ES'
        target='_blank'
      >
        Facebook</a
      >
      <a class='flex flex-col' href='https://www.instagram.com/' target='_blank'
        >Instagram</a
      >
      <a
        class='flex flex-col'
        href='https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D'
        target='_blank'>Twitter</a
      >
      <a class='flex flex-col' href='https://www.tiktok.com/es/' target='_blank'
        >TikTok</a
      >
    </div>
  </div>
</footer>
