<footer>
  <!-- No hace falta un <div> que englobe todos los elementos del footer puesto que ya estás englobándolos con la etiqueta <footer> arriba. -->
  <div class='div_footer'>
    <ul class='ul_flexcol'>
      <!-- El título va fuera de la lista -->
      <h4>Principal</h4>
      <li><a href='/'>Inicio</a></li>
      <li><a href='/about'>Sobre mi</a></li>
      <li><a href='/contact'>Contacto</a></li>
    </ul>
    <ul class='ul_flexcol'>
      <!-- El título va fuera de la lista -->
      <h4>Apartados</h4>

      <a class='flexcol'>Meritos</a>
      <a class='flexcol'>Habilidades</a>
      <a class='flexcol'>Proyectos realizados</a>
    </ul>
    <!-- No es necesaria la etiqueta <article> puesto que ya estás usando la etiqueta <ul> para englobar listas de enlaces. -->
    <article>
      <h4>Redes Sociales</h4>
      <ul>
        <li>
          <a href='https://www.facebook.com/?locale=es_ES' target='_blank'>
            Facebook</a
          >
        </li>
        <li>
          <a href='https://www.instagram.com/' target='_blank'>Instagram</a>
        </li>
        <li>
          <a
            href='https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D'
            target='_blank'>Twitter</a
          >
        </li>
        <li><a href='https://www.tiktok.com/es/' target='_blank'>TikTok</a></li>
      </ul>
    </article>
  </div>
</footer>
