---
import { lists } from '../config/footer.json'
---

<footer>
  {
    lists.map(list => (
      <div>
        <h4>{list.title}</h4>
        <ul>
          {list.links.map(link => (
            <li>
              <a href={link.url} target={link.target}>
                {link.title}
              </a>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</footer>
