---
import header from '../config/header.json'
---

<div class='divheader'>
  {
    header.map(head => (
      <a href={head.url} class='btnfooter'>
        {head.title}
      </a>
    ))
  }
</div>

<img class='logo' src='../../public/images/mental_health.svg' alt='' />
