---
import { links } from '../config/header.json'
---

<header>
  <nav>
    {
      links.map(
        (
          link // (link: Link) <- El tipo de dato del parámetro se debe definir, en este caso arriba como interfaz.
        ) => (
          <a href={link.url} class='btn_header'>
            {link.title}
          </a>
        )
      )
    }
  </nav>
  <!-- No es necesaria una section para dos elementos como el título o la imagen principal de la web. Se puede usar un div. -->
  <section class='section_header'>
    <img class='logo' src='../../public/images/mental_health.svg' alt='' />
    <h1>Mental Health</h1>
  </section>
</header>
