---
import links from '../config/header.json'
---

<header>
  <nav>
    {
      links.map(link => (
        <a href={link.url} class='btn_header'>
          {link.title}
        </a>
      ))
    }
  </nav>
  <section class='section_header'>
    <img class='logo' src='../../public/images/mental_health.svg' alt='' />
    <h1>Mental Health</h1>
  </section>
</header>
