---
// import * as links from '../config/header.json' <- Una importación de todos los elementos del archivo JSON elimina el error de importación por defecto. Para una importación más sencilla, mirar Projects.astro.
import links from '../config/header.json'

// Una interfaz es una forma de definir un tipo de dato en Typescript.
/* 
  interface Link {
    title: string
    url: string
  }
*/
---

<header>
  <nav>
    {
      links.map(
        (
          link // (link: Link) <- El tipo de dato del parámetro se debe definir, en este caso arriba como interfaz.
        ) => (
          <a href={link.url} class='btn_header'>
            {link.title}
          </a>
        )
      )
    }
  </nav>
  <!-- No es necesaria una section para dos elementos como el título o la imagen principal de la web. Se puede usar un div. -->
  <section class='section_header'>
    <img class='logo' src='../../public/images/mental_health.svg' alt='' />
    <h1>Mental Health</h1>
  </section>
</header>
