---
import Footer from '../components/Footer.astro'
import '../styles/Layout.css'
import Header from '../components/Header.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Astro Landing - {title}</title>
    <!-- <link rel='stylesheet' href='../css/styles.css' /> -->
  </head>
  <body>
    <main class='mx-auto container'>
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
