---
import Footer from '../components/Footer.astro'
import '../styles/Layout.css'
import Header from '../components/Header.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- <meta name='theme-color' content='#09f' /> -->
    <link rel='icon' href="'../../public/images/mental_health.svg" />
    <title>Mental Health - {title}</title>
  </head>
  <body>
    <!-- La etiqueta <main> no debe encapsular los elementos <header> y <footer>, sólo el contenido de la página. -->
    <main class='mx-auto container'>
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
